@import "../../assets/scss/main";

.upload-message {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0 15px 0;
}

.message-default {
    color: #999;    
}

.message-success {
    color: $color-success;
}

.message-error {
    color: $color-danger;
}