@import "../../../../assets/scss/main.scss";

main .folder-page {
    height: 100%;
    width: 100%;
    // background-color: #fff;
}

.folder-header {
    background-color: rgba(255,255,255, 0.9);
    border-radius: 10px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.16);
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    h2 {
        margin-left: 10px;
        color: $color-secondary;
    }
}

.btn {
    height: 42px;
    width: 150px;
    outline: nonde;
    background-color: $color-primary;
    color: $color-default;
    border: none;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.16);
    transition: 0.3s;
}

.btn:hover {
    cursor: pointer;
    background-color: $color-secondary;
}

.btn:focus {
    outline: none;
}

.folder-page .folder-container {
    width: 100%;
    @media screen and (max-width: 800px) {
        display: grid;
        // grid-template-columns: 1fr 2fr;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        object-fit: cover;
        .card-detail {
            width: 100%;
        }
        padding-right: 5px;
    }
    
}   

.card {
    height: auto;
    padding: 10px;
    width: 100%;
    background-color: rgba(255,255,255, 0.9);
    border-radius: 10px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.16);
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.card-title h3 {
    text-align: center;
    font-size: 24px;
    color: $color-secondary;
}

.card .card-body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px 0 20px 0;
}

.card-body label {
    margin-bottom: 10px;
}

.btn-cancel {
    background-color: $color-default;
    color: #000;
}

.btn-cancel:hover {
    background-color: #dbdada;
}

.card-body input {
    height: 34px;
    padding: 5px;
    outline: none;
}

.card-detail {
    height: auto;
    padding: 10px;
    width: 50%;
    min-width: 400px;
    background-color: rgba(255,255,255, 0.9);
    border-radius: 10px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.16);
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.card-detail .card-title {
    width: 100%;
    padding: 5px;
}

.card-title h3 {
    text-align: center;
    font-size: 24px;
    color: $color-secondary;
}

.card-detail .card-title {
    width: 100%;
    padding: 5px;
}

.card-detail .card-detail-body {
    width: 100%;
    height: 100%;
    display: flex;
}

.card-detail-body .folder-detail-img {
    padding: 10px;
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.folder-detail-img .folder-icon {
    color: $color-secondary;
}

.card-detail-body .folder-detail {
    padding: 10px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.folder-detail span {
    font-size: 18px;
}

.folder-detail-data {
    color: $color-secondary;
}